# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables
.env

# Testing & Virtual Environment
.pytest_cache/
.hypothesis/
env/
venv/
.venv/

# IDE files
.vscode/
.idea/
*.swp

# SQLite runtime DBs & generated artifacts
*.db
data/latest_approval_email.html
